@font-face {
  font-family: 'Bebas';
  src: url("./../fonts/BebasNeue.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas';
  src: url("./../fonts/BebasNeue.eot");
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas';
  src: url("./../fonts/BebasNeue.woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas';
  src: url("./../fonts/BebasNeueBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas';
  src: url("./../fonts/BebasNeueBold.eot");
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas';
  src: url("./../fonts/BebasNeueBold.woff");
  font-weight: 700;
}

.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #d6d5d8;
  font-family: 'Open sans', sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

#container2 {
  position: fixed;
}

#container2 > canvas {
  width: 267px !important;
  position: fixed;
  right: 0;
  border-left: 5px solid #0aeceb;
  border-bottom: 5px solid #0aeceb;
}

::selection {
  background-color: #d6d5d8;
  color: #fff;
}

ul li {
  list-style: none;
}

#map {
  height: 80vh;
}

.map-wrapper {
  position: relative;
}

.land {
  position: absolute;
  top: 7rem;
  left: 3rem;
  box-shadow: 0 2rem 4rem rgba(35, 35, 35, 0.2);
  background-image: linear-gradient(to right, #fff, #EDF1FB);
}

.land-item {
  padding: .5rem 2rem .5rem 2rem;
  width: 30rem;
  transition: all .3s ease-in-out;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #97e2bb 50%);
  background-size: 220%;
  cursor: pointer;
}

.land-item:hover {
  box-shadow: 0 2rem 4rem rgba(35, 35, 35, 0.2);
  background-position: 100%;
}

.land-item:active {
  box-shadow: 0 1rem 1rem rgba(35, 35, 35, 0.2);
}

.land-item:not(:last-child) {
  border-bottom: solid 1px rgba(35, 35, 35, 0.3);
}

.land-item .land-item-title {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.land-item .info {
  font-size: 2rem;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.land-item .info .area {
  margin-right: 1rem;
  color: #777;
}

.land-item .info .price {
  color: #263E7B;
  font-weight: bold;
}

.header {
  padding: 0 15rem;
}

.header .navigation {
  height: 100%;
}

.header .logo {
  font-size: 3rem;
}

.header .logo a {
  text-decoration: none;
  color: #fff;
}

.header .logo a img {
  width: 25rem;
}

.header .logo:hover a {
  text-decoration: none;
}

.header .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 6rem;
}

.header .main-nav .logo a {
  color: #232323;
}

.header .menu {
  display: flex;
}

.header .menu .nav-item {
  margin-right: 10rem;
}

.header .menu .nav-item a {
  text-decoration: none;
  color: #232323;
  font-size: 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #47CC87 50%);
  background-size: 220%;
  transition: all .3s ease-in-out;
  padding: 0 1px;
}

.header .menu .nav-item a:hover {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  background-position: 100%;
}

.header .menu .nav-item .current-menu-item {
  border-bottom: solid 2px #fff;
}

.header .menu .nav-item:first-of-type {
  margin-right: 14rem;
}

.header .menu .nav-item:last-of-type {
  margin-right: 0;
}

.hero-image-wrapper {
  height: 60rem;
  margin: 5rem 0 12rem 0;
  display: flex;
  background-size: cover;
  background-clip: content-box;
}

.hero-image-wrapper .squares {
  position: relative;
}

.hero-image-wrapper .squares:hover .square--1 {
  transform: skewX(-40deg) translateY(0);
}

.hero-image-wrapper .squares:hover .square--2 {
  transform: skewX(-40deg) translateY(0);
}

.hero-image-wrapper .squares:hover .square--3 {
  transform: skewX(-40deg) translateY(0);
}

.hero-image-wrapper .squares:hover:after {
  max-width: 100rem;
}

.hero-image-wrapper .squares:after {
  transition: all .3s ease-in-out;
  white-space: nowrap;
  transition-duration: 2000ms;
  content: "Build your future";
  font-size: 6rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  max-width: 0;
  transform: translate(-50%, -50%);
  color: #fff;
  word-spacing: 8rem;
}

.hero-image-wrapper .square {
  transition: all .3s ease-in-out;
  transition-delay: 200;
  transition-duration: 600ms;
  height: 40rem;
  display: inline-block;
  width: 20rem;
  overflow: hidden;
}

.hero-image-wrapper .square:not(:last-of-type) {
  margin-right: 3rem;
}

.hero-image-wrapper .square--1 {
  transform: skewX(-40deg) translateY(-4rem);
}

.hero-image-wrapper .square--2 {
  transform: skewX(-40deg) translateY(8rem);
}

.hero-image-wrapper .square--3 {
  transform: skewX(-40deg) translateY(2rem);
}

.hero-image-wrapper .square:after {
  content: '';
  transform: skewX(40deg);
  background-image: url("../images/square-2.jpg");
  position: absolute;
  width: 270%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  left: -17rem;
}

.btn-build {
  position: absolute;
  bottom: 6rem;
  width: 20rem;
  left: 40%;
  text-align: center;
}

.btn-view {
  position: absolute;
  bottom: 6rem;
  width: 20rem;
  right: 10rem;
  text-align: center;
  color: #232323;
}

.vertical-text {
  position: absolute;
  left: 3rem;
  transform: rotateZ(-90deg);
  font-size: 2rem;
  top: 50%;
}

.footer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer .social-media li a {
  color: #232323;
}

.footer .social-media li:not(last-of-type) {
  margin-right: 2rem;
}

.footer .social-media li:not(last-of-type) a {
  font-size: 2rem;
}

.footer .bottom-footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer .bottom-footer .footer-nav {
  display: flex;
}

.footer .bottom-footer .footer-nav li {
  display: inline-block;
}

.footer .bottom-footer .footer-nav li:not(:last-of-type) {
  margin-right: 2rem;
}

.footer .bottom-footer .footer-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
}

.footer .bottom-footer .credits {
  color: #232323;
}

.page-models .header .main-nav {
  margin-top: 0;
}

.page-models .section-models {
  min-height: 60rem;
}

.page-models .section-models .models-wrapper .model {
  min-height: 40rem;
  transition: all .3s ease-in-out;
}

.page-models .section-models .models-wrapper .model:hover {
  box-shadow: 0 2rem 4rem rgba(35, 35, 35, 0.2);
  transform: scale(1.3);
  background-image: linear-gradient(to right, #fff, #EDF1FB);
}

.page-models .section-models .models-wrapper .model:hover .model-img .mask {
  background-color: rgba(71, 204, 135, 0.4);
}

.page-models .section-models .models-wrapper .model .model-img {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all .3s ease-in-out;
}

.page-models .section-models .models-wrapper .model .model-img--1 {
  background-image: url("./../images/model-1.jpg");
}

.page-models .section-models .models-wrapper .model .model-img--2 {
  background-image: url("./../images/model-2.jpg");
}

.page-models .section-models .models-wrapper .model .model-img--3 {
  background-image: url("./../images/model-3.jpg");
}

.page-models .section-models .models-wrapper .model .model-img .mask {
  transition: all .3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.page-models .section-models .models-wrapper .model .model-text {
  padding: 0 1rem 2rem 1rem;
}

.page-map .header .main-nav {
  margin-top: 0;
}

.vector-bulder {
  overflow: hidden;
}

.preloader {
  position: absolute;
  z-index: 0;
  max-width: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
  transition-duration: 700ms;
  transform: translateX(-100%);
  white-space: nowrap;
}

.preloader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
}

.visible {
  transform: translateX(0);
  transition: all .3s ease-in-out;
  opacity: 1;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 241, 251, 0.99);
  max-width: 100%;
}

.vector-bulder .dg.ac {
  margin-top: 235px !important;
}

.vector-bulder .dg.ac .cr.function {
  padding: 6px 20px;
  text-transform: uppercase;
}

.map-button {
  padding: 1rem 3rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
  background-color: rgba(71, 204, 135, 0.8);
  color: #fff;
  border: none;
  border-radius: 3px;
}

.map-button:hover {
  transform: translateY(-3px);
}

.map-button:active {
  transform: translateY(-2px);
  outline: none;
  background-color: #47CC87;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #232323;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #47CC87 50%);
  background-size: 220%;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-position: 100%;
  color: #fff;
}

.btn:hover:after {
  transform: scale(1.3);
  opacity: 0;
}

.btn:active,
.btn :focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  color: #fff;
}

.btn--green {
  color: #fff;
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-delay: 375ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-weight: 400;
  font-size: 16px;
  color: #232323;
}

.heading-primary {
  color: #232323;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1.5rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5rem;
  background-image: linear-gradient(to right, #d6d5d8, #d6d5d8);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  top: 1rem !important;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border: none;
  border-radius: 3px;
  padding: 1rem;
  outline: none;
  transition: all .3s ease-in-out;
  border-bottom: solid 2px transparent;
  background-image: linear-gradient(to right, #fff, #EDF1FB);
  box-shadow: 0 2rem 3rem rgba(35, 35, 35, 0.2);
}

#pac-input::placeholder {
  color: #232323;
  letter-spacing: .1rem;
}

#pac-input:focus {
  border-bottom: solid 2px #47CC87;
  box-shadow: 0 1rem 1rem rgba(35, 35, 35, 0.2);
  transform: translate(-50%, -50%);
  left: 50% !important;
  top: 18% !important;
  width: 50rem;
  height: 7rem;
}

#pac-input:focus::placeholder {
  color: #CCCCCC;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
/*# sourceMappingURL=style.css.map */