.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        transition: all 0.2s;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: $color-text;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-secondary 50%);
        background-size: 220%;
        font-weight: bold;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        background-position: 100%;
        color: $color-white;
        &:after {
            transform: scale(1.3);
            opacity: 0;
        }
    }
    &:active,
    :focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    &--blue {
        color: $color-white; // &::after {
        //     background-color: $color-tertiary;
        // }
    }
    &--green {
        color: $color-white; // &::after {
        //     background-color: $color-secondary;
        // }
    }
    &:after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
    &--animated {
        animation-name: moveInBottom;
        animation-duration: 0.5s;
        animation-delay: 375ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
    }
}