@font-face {
    font-family: 'Bebas';
    src: url("./../fonts/BebasNeue.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas';
    src: url("./../fonts/BebasNeue.eot");
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas';
    src: url("./../fonts/BebasNeue.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas';
    src: url("./../fonts/BebasNeueBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Bebas';
    src: url("./../fonts/BebasNeueBold.eot");
    font-weight: 700;
}

@font-face {
    font-family: 'Bebas';
    src: url("./../fonts/BebasNeueBold.woff");
    font-weight: 700;
}