#map {
    height: 60rem;
    margin-top: 3rem;
}

.map-wrapper {
    position: relative;
}

.land {
    position: absolute;
    top: 7rem;
    left: 3rem;
    background-image: linear-gradient(to right, $color-white, $color-grey-light);
    padding: 2rem 2rem;
}

.land-item {
    &:not(last-of-type) {
        margin-bottom: .5rem;
    }
}