*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is (10px)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Open sans', sans-serif;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

ul {
    li {
        list-style: none;
    }
}