/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  //overflow: hidden;
  background: #47cc87;
}

* {
  margin: 0;
  padding: 0;
}

#container2 {
  position: fixed;
  > canvas {
    width: 267px !important;
    position: fixed;
    right: 0;
    border-left: 5px solid #0aeceb;
    border-bottom: 5px solid #0aeceb;
  }
}